
@{
    ViewBag.Title = "ControladorVistas";
}

@model ProyectoMVC_Net_1.Models.Persona

<h2>ControladorVistas</h2>
<p>
    @Model.Nombre
    , @Model.Apellidos
</p>
<h1>
    @ViewBag.Nombre
    
</h1>

